@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
body {
  background: #16161a url(/img/bg.svg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

html, body {
  color: #fffffe;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  height: 100%;
}

.row.content {
  margin-top: 16rem;
}

.row.portfolio {
  margin-top: 10rem;
}

h1 {
  font-weight: 400;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.nav-item.active a.nav-link {
  border-bottom: 1px solid #fffffe;
}

.nav-item a.nav-link:hover {
  border-bottom: 1px solid #fffffe;
}

nav.navbar {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: .9rem;
}

nav.navbar a {
  color: #fffffe;
  padding: .3rem;
  border: 1px solid #16161a;
}

nav.navbar a:hover {
  border: 1px solid #fffffe;
}

span.dot {
  -webkit-animation: anim-glow 2s ease infinite;
          animation: anim-glow 2s ease infinite;
  margin: 0 .15rem 0 .1rem;
  border-radius: 50%;
  border: 2px solid #94a1b2;
  width: 2px;
  height: 2px;
  display: inline-block;
  vertical-align: 0;
  background-color: #94a1b2;
}

@-webkit-keyframes anim-glow {
  0% {
    -webkit-box-shadow: 0 0 #94a1b2;
            box-shadow: 0 0 #94a1b2;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 8px transparent;
            box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}

@keyframes anim-glow {
  0% {
    -webkit-box-shadow: 0 0 #94a1b2;
            box-shadow: 0 0 #94a1b2;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 8px transparent;
            box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}

.card {
  background-color: #94a1b2;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #94a1b2;
  box-shadow: 0px 0px 10px 0px #94a1b2;
}

.card .card-img-top {
  background: #ffffff;
}

.card .card-img-top.you {
  width: 100%;
  max-height: 138px;
  display: block;
}

.card .card-img-top.you p {
  line-height: 138px;
  font-size: .9rem;
  color: #94a1b2;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1rem;
}

.card .card-text {
  font-size: .9rem;
  color: #fffffe;
}

.card .card-text a {
  color: #fffffe;
  font-weight: 400;
  text-decoration: underline;
}

.card .card-text a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  text-align: center;
}

footer p {
  font-size: .5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 2rem 0 0 0;
  padding: 1rem 0;
}

@media (max-width: 990px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .social-media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .social-media li {
    text-align: center;
    width: 25%;
  }
  nav.navbar a {
    border: 0;
  }
  .row.content {
    margin: 3rem 0;
  }
  .row.content .col-sm:first-child {
    padding-left: 0;
  }
  .row.portfolio {
    margin-top: 3rem;
  }
  .logo {
    padding-left: 15px;
  }
}

@media (max-width: 575px) {
  .row.content .col-sm:first-child {
    padding-left: 15px;
  }
  .row.portfolio {
    padding: 0 15px;
  }
  .navbar-toggler {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */