$dark: #16161a
$light: #fffffe
$mainColor: #94a1b2
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body
  background: $dark url(/img/bg.svg) no-repeat center center fixed
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover

html, body
  color: $light
  font-family: 'Ubuntu', sans-serif
  font-weight: 300
  height: 100%

.row.content
  margin-top: 16rem

.row.portfolio
  margin-top: 10rem

h1
    font-weight: 400

.navbar-dark .navbar-nav .active>.nav-link
    color: rgba(255,255,255,.5)

.nav-item
    &.active a.nav-link
        border-bottom: 1px solid $light
    a.nav-link:hover
        border-bottom: 1px solid $light

nav.navbar
    text-transform: uppercase
    letter-spacing: .1rem
    font-size: .9rem

    a
        color: $light
        padding: .3rem
        border: 1px solid $dark
        &:hover
            border: 1px solid $light
        
span.dot
    animation: anim-glow 2s ease infinite
    margin: 0 .15rem 0 .1rem
    border-radius: 50%
    border: 2px solid $mainColor
    width: 2px
    height: 2px
    display: inline-block
    vertical-align: 0
    background-color: $mainColor

@keyframes anim-glow
  0%
    box-shadow: 0 0 rgba($mainColor, 1)

  100%
    box-shadow: 0 0 10px 8px transparent
    border-width: 2px

.card
  background-color: $mainColor

  &:hover
    -webkit-box-shadow: 0px 0px 10px 0px rgba(148,161,178,1)
    -moz-box-shadow: 0px 0px 10px 0px rgba(148,161,178,1)
    box-shadow: 0px 0px 10px 0px rgba(148,161,178,1)

  .card-img-top
    background: #ffffff

    &.you
      width: 100%
      max-height: 138px
      display: block
      p
        line-height: 138px
        font-size: .9rem
        color: $mainColor
        text-align: center
        text-transform: uppercase
        font-weight: 400
        letter-spacing: .1rem

  .card-text
    font-size: .9rem
    color: $light

    a
      color: $light
      font-weight: 400
      text-decoration: underline
      
      &:hover
        text-decoration: underline
            
footer
  width: 100%
  text-align: center

  p
    font-size: .5rem
    text-transform: uppercase
    letter-spacing: .1rem
    margin: 2rem 0 0 0
    padding: 1rem 0

// MEDIA QUERIES

$breakpoint-tablet: 990px
$breakpoint-landscape: 575px

@media (max-width: $breakpoint-tablet)
  h1
    font-size: 2rem
    margin-bottom: 2rem

  .social-media
    flex-direction: row
    font-size: 1.5rem
    margin: 1rem 0

    li
      text-align: center
      width: 25%

  nav.navbar
    a
      border: 0

  .row.content
    margin: 3rem 0
    
    .col-sm:first-child
      padding-left: 0
  
  .row.portfolio
    margin-top: 3rem
  
  .logo
    padding-left: 15px

@media (max-width: $breakpoint-landscape)
  .row.content .col-sm:first-child
      padding-left: 15px
  
  .row.portfolio
    padding: 0 15px
  
  .navbar-toggler
    margin-right: 10px